@import url(https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat);

/* CSS Reset */ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root variables */

:root{
    --yellow:#F6D64A;
    --teal: #55bcd5;
    --purple: #9b26b0;
    --blue: #499bd2;
    --dark-gray: #222222;
    --lt-gray: #eaeaea;
    --white: #ffffff;
    --black: #000000;
    --montserrat: 'Montserrat', 'Arial', sans-serif;
    --molle: 'Molle', 'Segoe Script', serif;
}

/* Global, Mobile First */

h1, h2, h3{
    font-family: var(--molle);
}

h4, p, q, small, nav, button, form{
    font-family: var(--montserrat);
}



.sr-only{
    position: relative;
    left: -500px;
}

.sr-only:focus{
    
    left: 0px;
}

#skip{
    position: absolute;
    left: -500px;
    background-color: var(--white);
    font-size: 3rem;
}

#skip:focus{
    left: 0px;
}

#menu-toggle label{
    display: block;
    position: absolute;
    left: 130px;
    top: 20px;
    text-transform: uppercase;
    font-weight: bold;;
    background-color: var(--yellow);
    padding: 15px 70px 15px 70px;

}

#menu-toggle ul{
    margin-bottom: 30px;
    
}

#menu-toggle ul li{
    padding: 30px;
    background-color: var(--teal);
    border: 1px solid var(--black);
    text-align: center;
}


#menu-toggle ul li a{
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;

}

#menu-toggle input{
    display: none;

}

#menu-toggle input:checked +  label{
    background-color: var(--dark-gray);
    color: white;
    top: 0;
    left: 0;
    width: 320px;
    text-align: center;
    padding: 10px 0 10px 0;
    

}

#menu-toggle input:checked ~ ul {
    display: block;
    position: absolute;
    top: 35px;
    width: 320px;

}
#menu-toggle input:not(checked) ~ ul {
    display: none;

}



header{
    background-image: linear-gradient(var(--teal), var(--white));

    color: var(--dark-gray);
    
}

header a img{
    height: 70px;
    position: relative;
    left: -20px;
}

header p{
    padding: 0px 10px 0 10px;
    line-height: 20px;
}

h1{
    padding: 15px 10px 0 10px;
    font-size: 3rem;
}



h2, h3{
    font-size: 2rem;
}

#intro h2{
    padding: 0px 25px 0 25px;
}

#intro p{
    padding: 25px;
    line-height: 30px;
}

#img-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img-grid img, #img-grid picture{
    max-width: 320px;
    padding: 5px 0 5px 0;
}

#plan{
    background-color: var(--yellow);
    margin-top: 15px;
    padding: 15px 0 15px 0;
}

#plan h3, #testimonials h3{
    padding: 10px 30px 10px 30px;
}

#plan div section h4{
    position: relative;
    top: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}

#plan div section a{
    display: flex;
    justify-content: center;

    width: 160px;
    height: 160px;
    padding: 50px 70px 50px 70px;
    margin: auto;
    background: var(--teal);
    border-radius: 15px;
    border: 3px solid white;
}

#plan div section a img{
    position: relative;
    top: 20px;
}

#testimonials{
    padding-top: 30px;
}

#testimonials div{
    display: flex;
    flex-direction: column;
    
}

#testimonials div section{
    text-align: center;
    max-width: 250px;
    margin: auto;
    padding-bottom: 15px;
}
#testimonials div section img{
    width: 75%;
}

#testimonials div section h4{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 9px;
}

#testimonials div section q{
    font-style: italic;
    quotes: auto;
    padding-top: 5px;
}

#about{
    background-color: var(--blue);
}

#about h3{
    padding: 30px;
}

#about div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

#about  div section{
    width: 65%;
    text-align: center;
    padding: 5px;
    height: 130px;
}

#about  div section img{
    width: 70px;
    height: 70px;

}

#about div section h4{
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}

#about div section p{
    font-weight: 100;
}

#contact h3{
    padding: 30px;
}

#contact h3 span{
    font-family: var(--montserrat);
    font-size: 1rem;
    font-style: italic;
    color: var(--dark-gray);
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#names{
    text-align: center;
}

#names label{
    position: relative;
    left: -80px;
    text-transform: uppercase;
    font-weight: bold;
}

.required{
    color: var(--purple);
    padding: 2px;
    font-size: 1.3rem;
}

input[type=text], input[type=email], input[type=tel], input[type=submit]{
    display: flex;
    flex-direction: column;
    width: 245px;
    margin: 0px auto 15px auto;
    padding: 12px 10px 12px 10px;
    border: 3px solid var(--purple);
    font-size: 1.2rem;
    font-weight: 100;
    font-family: var(--montserrat);
}


#nums fieldset{
    display: flex;
    flex-direction: column;
    margin: 15px 5px 15px 5px;
    padding: 12px 20px 12px 20px;
}

#nums fieldset legend{
    text-transform: uppercase;
    font-weight: bold;
}

#nums fieldset label{
    padding-top: 10px;
}

#nums label, #selects label{
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    left: 20px;
}

.radio-label{
    position: relative;
    top: -18px;
    left: 10px;
}

.radio-input input{
    height: 50px;
    width: 50px;
    padding: 20px;
    accent-color: var(--purple);
}

.custom-select select{
    display: flex;
    flex-direction: column;
    width: 270px;
    margin: 0px auto 15px auto;
    background-color: var(--white);
    padding: 12px 20px 12px 20px;
    border: 3px solid var(--purple);
    font-size: 1.2rem;
    font-weight: 100;
    font-family: var(--montserrat);
}

input[type=submit]{
    display: flex;
    background-color: var(--purple);
    text-transform: uppercase;
    color: var(--white);
    flex-direction: column;
    width: 270px;
    margin: 0px auto 15px auto;
    padding: 12px 20px 12px 20px;
    border: 3px solid var(--purple);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--montserrat);
}

footer{
    background-color: var(--lt-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

footer a, footer p{
    font-size: 0.8rem;
    text-align: center;
    padding: 10px;
}

footer a{
    text-decoration: none;
    font-family: var(--montserrat);
    color: black
}

@media only screen and (min-width: 768px){

    #menu-toggle label{
        display: none;
    }

    #menu-toggle input:checked ~ ul, #menu-toggle input:not(checked) ~ ul{
        display: grid;
        margin: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        
    }

    
    
    #menu-toggle ul li{
        border: none;
        background-color: var(--white);
        padding: 20px;
    }

    #menu-toggle ul .active{
        background-color: var(--yellow);
    }

    #logo img{
        max-width: 100%;
        height: auto;
        margin: 30px;
    }

    h1{
        font-size: 3.5rem;
        position: absolute;
        top: 30px;
        left: 250px;
    }

    header p{
        position: absolute;
        top: 100px;
        left: 250px;
        width: 50%;
        line-height: 30px;
    }

    #intro{
        padding: 50px;
    }

    #img-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    #img-grid picture{
        grid-column: 1 / 3;
        max-width: 100%;
        max-height: 100%;
    }

    #img-grid img{
        max-width: 100%;
    }

    #plan div{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #testimonials div{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #about div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #names label{
        position: relative;
        left: -280px;
        text-transform: uppercase;
        font-weight: bold;
    }

    input[type=text], input[type=email], input[type=tel], input[type=submit]{
        display: flex;
        flex-direction: column;
        width: 650px;
        margin: 0px auto 15px auto;
        padding: 12px 10px 12px 10px;
        border: 3px solid var(--purple);
        font-size: 1.2rem;
        font-weight: 100;
        font-family: var(--montserrat);
    }

    input[type=submit]{
        display: flex;
        background-color: var(--purple);
        text-transform: uppercase;
        color: var(--white);
        flex-direction: column;
        width: 650px;
        margin: 0px auto 15px auto;
        padding: 12px 20px 12px 20px;
        border: 3px solid var(--purple);
        font-size: 1.2rem;
        font-weight: bold;
        font-family: var(--montserrat);
    }

#nums fieldset{
    display: flex;
    flex-direction: column;
    margin: 15px 5px 15px 5px;
    padding: 12px 20px 12px 20px;
}

#nums fieldset legend{
    text-transform: uppercase;
    font-weight: bold;
}

#nums fieldset label{
    padding-top: 10px;
}

#nums label, #selects label{
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    left: 20px;
}

.radio-label{
    position: relative;
    top: -18px;
    left: 10px;
}

.radio-input input{
    height: 50px;
    width: 50px;
    padding: 20px;
    accent-color: var(--purple);
}

.custom-select select{
    display: flex;
    flex-direction: column;
    width: 270px;
    margin: 0px auto 15px auto;
    background-color: var(--white);
    padding: 12px 20px 12px 20px;
    border: 3px solid var(--purple);
    font-size: 1.2rem;
    font-weight: 100;
    font-family: var(--montserrat);
}




#nums fieldset{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px 5px 15px 5px;
    padding: 12px 20px 12px 20px;
}

#nums fieldset legend{
    position: relative;
    left: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#nums fieldset label{
    padding-top: 10px;
}

#nums label, #selects label{
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    left: 40px;
}


.custom-select select{
    display: flex;
    flex-direction: column;
    width: 680px;
}

input[type=submit]{
    display: block;
    position: relative;
    width: 250px;
    left: 215px;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer a, footer p{
    padding: 30px;
}
}


@media only screen and (min-width: 1200px){
    



    #intro{
        max-height: 450px;
    }

    #intro p{
        max-width: 45%;
    }
    
    #img-grid{
        max-width: 50%;
        position: relative;
        top: -275px;
        left: 550px;
    }
    
    #plan div{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 30px;
    }

    #plan div section a{
        padding: 20px 40px;
    }

    #plan div section a img{
        width: 75%;
    }

    #testimonials div{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 30px 30px;
    }

    #testimonials div section img{
        width: 60%;
    }

    #about div section{
        text-align: center;
    }

    #about div{
        padding: 30px;
        width: 700px;
        margin: auto;
    }

    form{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    #names label{
        position: relative;
        left: -130px;
        text-transform: uppercase;
        font-weight: bold;
    }

    input[type=text], input[type=email], input[type=tel], input[type=submit]{

        width: 350px;

    }

    .custom-select select{

        width: 350px;

    }

    fieldset{
        position: relative;
        left: -30px;
    }

    .radio-input{
        position: relative;
        left: -20px;
    }

    .radio-label{
        position: relative;
        left: -20px;
    }

    input[type=submit]{

        left: 75px;
        width: 200px;
    }
    
    #menu-toggle input:checked ~ ul, #menu-toggle input:not(checked) ~ ul{
        display: grid;
        margin: 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        position: absolute;
        top: 0;
        left: 580px;
    }

    #menu-toggle ul li{
        border: none;
        background-color: var(--white);
        padding: 10px;
    }
}